#appbar {
  color: #fff;
  display: flex;
  background-color: #3498db;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin: -10px -10px 0 -10px;
}

body,
table {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* td {
    background-color: red
} */

body {
  font-family: "Roboto", sans-serif;
}

.app-body {
  margin-left: 10px;
}

#app-name {
  font-size: 24px;
  /* You can adjust the font size as needed */
  transition: transform 0.3s ease-in-out;
  /* Add a smooth transition effect for the transform property */
}

#app-name a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}


#app-name a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

#app-name:hover {
  transform: scale(1.05);
  /* Scale the text to 110% on hover (you can adjust the scale factor) */
  color: #ffffffc2;
  cursor: pointer;
  /* Change the cursor to a pointer on hover (optional) */
}